ul {
  list-style-type: disc;
}
li:before {
  content: none;
}
a {
  border-bottom: 1.5px dashed rgba(255, 255, 255, 0.5);
  color: inherit;
  text-decoration: none;
}
.sr {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
.customCodeSlide h1 {
  font-size: 1em !important;
}
.customCodeSlide pre {
  font-size: 0.5em !important;
}

.spectacle-presenter-main,
.spectacle-slide > div {
  max-width: 100%;
}
